{% comment %}
{% for m in include.manifests %}<button manifest='{{ m.src | absolute_url }}' href='#' class='manifest-selector'>{{ m.name }}</button>
{% endfor %}
{% endcomment %}

{% capture data -%}
  {%- for m in include.manifests %}'{{ m.src | absolute_url }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}
{% endcapture %}

{% include mirador/assets.html %}
<div id='mirador-workspace'>
  <div id='mirador-admin-viewer' class='image-viewer mirador'></div>
</div>

<script>
  window.viewer = createAnnotationAdminViewer(data=[{{ data }}]);
</script>

<button class='result-controls' id='view'>View Cached Annotations</button>
<button class='result-controls' id='hide'>Hide Cached Annotations</button>
<button class='result-controls' id='download'>Download Cached Annotations</button>

<div id='gui_results'></div>
<div id='anno_results'></div>
