<b>Preview: </b>{% for m in include.manifests %}<button manifest='{{ m.src | absolute_url }}' href='#' class='manifest-selector'>{{ m.name }}</button> {% endfor %}
{% capture data -%}
  {%- for m in include.manifests %}'{{ m.src | absolute_url }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}
{% endcapture %}

{% include mirador/assets.html %}

<div id='mirador-zen-viewer' class='image-viewer mirador'></div>

<script>
  window.data   = [{{ data }}];
  window.viewer = createZenViewer(window.data);
</script>
