{% for m in include.manifests %}<button manifest='{{ m.src}}' href='#' class='manifest_selector'>{{ m.name }}</button> {% endfor %}
{% capture manifests -%}
  {%- for m in include.manifests %}'{{ m.src }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}
{% endcapture %}


<link rel='stylesheet' type='text/css' href="{{ 'build/mirador/css/mirador-combined.css' | absolute_url }}">
<link rel='stylesheet' type='text/css' href="{{ 'assets/annotator.css' | absolute_url }}">

<script src="{{ 'build/mirador/mirador.js' | absolute_url }}" type='text/javascript'></script>
<div id='mirador-iiif-viewer' class='image-viewer mirador' allowfullscreen='allowfullscreen'></div>

<script src="{{ 'assets/annotation_endpoint.js' | absolute_url }}" type='text/javascript'></script>


<script>
  $(document).ready(function() {
    {%- if include.viewer == 'anno' -%}
      window.viewer = createAnnotationAdminViewer([{{ manifests }}]);
    {%- else -%}
      window.viewer = createZenViewer([{{ manifests }}]);
    {%- endif -%}
  });
</script>

{%- if include.viewer == 'anno' -%}
  <button type='button' id='view'>View Cached Annotations</button>
  <button type='button' id='hide'>Hide Cached Annotations</button>
  <button type='button' id='download'>Download Cached Annotations</button>

  <div id='gui_results'></div>
  <div id='anno_results'></div>
{%- endif -%}
