<link rel='stylesheet' type='text/css' href="{{ 'build/mirador/css/mirador-combined.css' | absolute_url }}">
<link rel='stylesheet' type='text/css' href="{{ 'assets/annotator.css' | absolute_url }}">

<script src="{{ 'build/mirador/mirador.js' | absolute_url }}" type='text/javascript'></script>
<div id='mirador-iiif-viewer' class='image-viewer mirador' allowfullscreen='allowfullscreen'></div>

<script src="{{ 'assets/annotation_endpoint.js' | absolute_url }}" type='text/javascript'></script>

{%- capture manifests -%}
[
  {% for m in include.manifests %}
    '{{ m }}'{% unless forloop.last %}, {% endunless %}
  {% endfor %}
]
{%- endcapture -%}

<script>
  $(document).ready(function() {
    {%- if include.viewer == 'anno' -%}
      window.viewer = createAnnotationAdminViewer({{ manifests }});
    {%- else -%}
      window.viewer = createZenViewer({{ manifests }});
    {%- endif -%}
  });
</script>

{%- if include.viewer == 'anno' -%}
  __Annotation List (GUI):__ <button type='button' id='gui_button'>View</button> <button type='button' id='no_gui_button'>Hide</button><br>
  __Annotation List (JSON):__ <button type='button' id='anno_button'>View</button> <button type='button' id='no_anno_button'>Hide</button> <button type='button' id='download'>Download</button>

  <div id='gui_results'></div>
  <div id='anno_results'></div>
{%- endif -%}
